@media only screen and (max-width: 545px){
    .benefitscontent p{
        text-align: left !important;
    }
}
@media only screen and (max-width: 374px){
    .text_h1{
        font-size: 70px !important;
    }
}
@media only screen and (max-width: 321px){
    .text_h1{
        font-size: 60px !important;
    }
}
@media only screen and (max-width: 997px){
    .col_img .img{
        padding-top:10px !important;
        margin:0 auto !important;
    }
}
@media only screen and (max-width:819px){
    footer .no-h{
        margin-top: 0px !important;
    }
}
@media only screen and (max-width:1111px){
    .videocontent .content_d{
        padding-left:15px !important;
    }
    .benefitscontent, .trustcontent{
        margin-top:40px !important;
    }
}
@media only screen and (max-width:1262px){
    .text_h1_b{
        float: right;
        font-size: 45px !important;
    }
}
@media only screen and (max-width:1080px){
    .formcontent ul, .formcontent .ul_title{
        margin-left: 15px !important;
    }
}
@media only screen and (max-width:1109px){
    .text_h1_b{
        float: right;
        font-size: 35px !important;
        line-height: 40px !important;
    }
}
@media only screen and (max-width:1050px){
    .text_h1_b{
        float: right;
        font-size: 25px !important;
        line-height: 30px !important;
    }
}
@media only screen and (max-width:900px){
    .text_h1_b{
        float: right;
        font-size: 18px !important;
        line-height: 23px !important;
    }
}

@media only screen and (max-width:3840px){
    .cover{
        margin-top: 38rem !important;
        width: 34rem !important;
    }
 }
 @media only screen and (max-width:1689px){
    .cover{
        margin-top: 40rem !important;
        width: 34rem !important;
    }
 }
 @media only screen and (max-width:1352px){
    .cover{
        margin-top: 42rem !important;
        width: 34rem !important;
    }
 }
@media only screen and (max-width:1312px){
    .cover{
        margin-top: 43rem !important;
    }
 }

@media only screen and (max-width:1288px){
    .cover{
        background: #eeeeef!important;
        position: absolute;
        top: 0;
        height: 7rem;
        margin-top: 43rem !important;
        width: 30rem;
        z-index: 2;  
    }
}
@media only screen and (max-width:1155px){
    .cover{
        margin-top: 42rem !important;
        width: 34rem !important;
    }
 }
 @media only screen and (max-width:1093px){
    .cover{
        margin-top: 43rem !important;
        width: 34rem !important;
    }
 }
 @media only screen and (max-width:1087px){
    .cover{
        margin-top: 44rem !important;
        width: 34rem !important;
    }
 }

 @media only screen and (max-width:1019px){
    .cover{
        margin-top: 47.5rem !important;
        width: 34rem !important;
    }
 }
@media only screen and (max-width:819px){
    .begincontent .content{
        float: left !important;
    }
}


 @media only screen and (max-width:985px){
    .cover{
        margin-top: 48.5rem !important;
    }
 }
 @media only screen and (max-width:969px){
    .cover{
        margin-top: 47.5rem !important;
    }
 }
 @media only screen and (max-width:893px){
    .cover{
        margin-top: 47rem !important;
    }
 }
 @media only screen and (max-width:869px){
    .cover{
        margin-top: 46rem !important;
    }
 }
 @media only screen and (max-width:835px){
    .cover{
        margin-top: 45rem !important;
    }
 }
 @media only screen and (max-width:808px){
    .cover{
        margin-top: 44rem !important;
    }
 }
 @media only screen and (max-width:805px){
    .cover{
        margin-top: 43.5rem !important;
    }
 }
 @media only screen and (max-width:762px){
    .cover{
        margin-top: 38.5rem !important;
        width: 34rem !important;
    }
 }
 @media only screen and (max-width:615px){
    .cover{
        margin-top: 37.5rem !important;
        width: 34rem !important;
    }
 }
 @media only screen and (max-width:545px){
    .cover{
        margin-top: 39.5rem !important;
        width: 34rem !important;
    }
 }
 @media only screen and (max-width:525px){
    .cover{
        margin-top: 37.5rem !important;
        width: 34rem !important;
    }
 }
 @media only screen and (max-width:520px){
    .cover{
        margin-top: 40.5rem !important;
        width: 34rem !important;
    }
 }
 @media only screen and (max-width:435px){
    .cover{
        margin-top: 40.5rem !important;
        width: 34rem !important;
    }
 }
 @media only screen and (max-width:425px){
    .cover{
        margin-top: 42.5rem !important;
        width: 34rem !important;
    }
 }
 @media only screen and (max-width:415px){
    .cover{
        margin-top: 42.5rem !important;
        width: 34rem !important;
    }
 }
 @media only screen and (max-width:350px){
    .cover{
        margin-top: 43rem !important;
        width: 34rem !important;
    }
 }
 @media only screen and (max-width:345px){
    .cover{
        margin-top: 43rem !important;
        width: 34rem !important;
    }
 }
 @media only screen and (max-width:340px){
    .cover{
        margin-top: 45rem !important;
        width: 34rem !important;
    }
 }
 @media only screen and (max-width:317px){
    .cover{
        margin-top: 47rem !important;
        width: 34rem !important;
    }
 }
@font-face {
    font-family: PTRoot;
    font-weight: 700;
    src: url("/PT Root UI_Bold.otf") format("opentype");
}

@font-face {
    font-family: PTRoot;
    font-weight: 200;
    src: url("/PT Root UI_Light.otf") format("opentype");
}
@font-face {
    font-family: PTRoot;
    font-weight: 500;
    src: url("/PT Root UI_Medium.otf") format("opentype");
}
@font-face {
    font-family: PTRoot;
    font-weight: 400;
    src: url("/PT Root UI_Regular.otf") format("opentype");
}
html {
    scroll-behavior: smooth;
  }
.normal{
    box-shadow: 0 2px 10px 0 rgba(37, 44, 50, 0.1);
    background-color: rgba(255, 255, 255);
}
.img_d{
    width: 204px;
}
body{
    color: #252C32;
    font-family:'PTRoot', sans-serif;

}
.btn{
    box-shadow: 0 4px 12px 0 rgba(238, 198, 67, 0.4);
    background-color: rgba(255, 0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.5px;
}
nav{
    min-height: 112px;
    font-weight: bold;
    font-size: 16px;
    font-weight: bold;
    color: #252C32 !important;
    background-color: white;
    letter-spacing: 0.5px !important;
}
.nav .btn{
    padding: 16px 26px !important;
}
.covered{
    font-family: 'PTRoot' !important;
    font-weight: 300;
}
.videocontent .btn{
    padding: 16px 37.5px !important;
}
.nav-link{
    color: #252C32 !important;
    padding: 10px;
}
nav .prices{
    padding-right: 25px !important;
}
nav .btn, .videocontent .btn, .tariffscontent .btn, .formcontent .btn{
    background-color: #EEC643;
    border-radius: 8px;
    color: white !important;
    font-weight: bold !important;
    
}
.videocontent{
    margin-right: 0;
}
.videocontent span{
    background-color: #EEC643 !important;
    font-weight: 500;
}
.navbar-brand img, footer img{
    max-width: 117px;
}
.text_h1_b{
    font-weight: 200;
}
.navbar-brand{
    margin-left: 25px;
}
nav .pro-b{
    margin-right: 20px !important;
}
.videocontent { padding-top: 160px; }
.videocontent a {
    text-align: center;
    box-sizing: content-box;
}
.videocontent_p{
    font-size: 22px;
    line-height: 28px;
}

.videocontent title{
    font-size: 22px;
    line-height: 25px;
}
.videocontent{
    margin-top:10px;
}
.videocontent .embed-responsive{
    position: static !important;
}

.tariffscontent{
    margin-top: 75px;
}
.benefitscontent{
    margin-top:150px;
}
.imagecontent{
    margin-top:55px;
}
.bonusescontent{
    margin-top:75px !important;
}
.benefitscontent .content_p{
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    padding-top: 18px;
}
.benefitscontent .h4{
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
}
.imagecontent p{
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
}
.content_p{
    text-align: center;
    margin:0 auto;
}
.content_d{
    margin:0 auto;
    max-width: 570px;
}
.imagecontent .content_d .h2{
    font-size: 50px;
    font-weight: 200;
    line-height: 1.2;
    letter-spacing: normal;
}
.imagecontent .content_d{
    font-size: 22px;
    font-stretch: normal;
    font-weight: 400;
    line-height: 1.27;
    letter-spacing: normal;
}
.imagecontent_r{
    margin-top:70px;
}

.imagecontent ul { 
    padding-left: 20px;
    list-style-type: none;
    list-style-image: url('/icon_check.svg');
    margin-top: 25px;
}
.imagecontent ul li{
    padding-top: 15px;      
}
.imagecontent .text-wrap{
    margin-top:20px;
}

.imagecontent .i1, .imagecontent .i3{
    padding-right: 110px;
}
.imagecontent .i2, .imagecontent .i4{
    padding-left: 110px;
}

.videocontent .content_d p{
    font-size: 20px;
}
.videocontent .content_d a{
    font-size: 16px;
}
.videocontent .content_d{
    padding-left: 90px;
}
iframe{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;

}
.wrapper{
    border-radius: 8px !important;
    position: relative;
    overflow: hidden;
}
.text_h1{
    font-weight: 200;
    font-size: 80px;
    line-height: 80px;
    color: #252C32;
}
.tariffscontent ul{
    list-style-type: none;
    list-style-image: url('/check.svg');
}
.tariffscontent .non-yel{
    color:#252C32 !important;

    transition: 0.4s;
}
.tariffscontent .yel{
    color:#eec643 !important;
}

.tariffscontent ul li{
    padding-bottom: 15px;
}
.fa-tenge{
    font-size: 23px;
}
.economy_p .fa-tenge{
    font-size: 13px;
}
.tariffscontent .light li:nth-last-child(-n+2) {list-style-image: url('/cross.svg');color: rgba(37, 44, 50, 0.2);}
.tariffscontent .standart li:last-child {list-style-image: url('/cross.svg');color: rgba(37, 44, 50, 0.2);}

.card-text{
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 41px;
    letter-spacing: 0.735294px;
}
small{
    font-size: 17px;
    line-height: 22px;
}
.card-title{
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    text-transform: uppercase;
}
.economy_p{
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #3EC25F;
}
.footer{
    font-size: 14px;
    line-height: 18px;
}
.card{
    border: 1px solid rgba(37, 44, 50, 0.1);
    border-radius: 8px;
    transition-duration: 0.4s;
}
.card:hover{
    box-shadow: 0 2px 10px 0 rgba(37, 44, 50, 0.1);
    background-color: rgba(255, 255, 255, 0);
    background-image: url('/box-header.svg');
    background-repeat: no-repeat;
}
.card .btn{
    transition: 0.4s;
}
.card:hover .btn{
    background-color: #3ec25f;
}
.bonuses h4{
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
}
.bonus_h{
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
}
.bonus_p{
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: rgba(37, 44, 50, 0.6);
}
.bonus_p2{
    font-size: 34px;
    line-height: 41px;
}
.trustcontent{
    text-align: center;
    margin-top:115px;
}
.col_img{
    padding: 0px;
    width:170px;
    flex-wrap: wrap;
}
.begincontent{
    margin-top: 75px;
    width: 100%;
    background-repeat: no-repeat;
}
.begincontent .li_title{
    font-weight: normal;
}
.begincontent .row{
    background-image: url('/phoneback.svg');
    height: 570px;
}
.text_h1_b{
    font-size: 60px;
    line-height: 64px;
}
.begincontent p{
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}
.begincontent .content{
    color: #FFFFFF;
    float: right;
    margin-top:115px;
    padding-right: 90px;
}
.container-fluid{
    overflow: hidden;
}
.formcontent .col-form{
    box-shadow: -10px 0 20px 0 rgba(37, 44, 50, 0.05);
  background-color: rgba(255, 255, 255, 0);

}
.formcontent ul{
    padding-left: 20px;
    list-style-type: none;
    list-style-image: url('/icon_check.svg');
}
.ul_title{
    font-weight: 300;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.5px;
}
.li_title{
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    padding-top: 38px;
}
.li_content{
    padding-top:10px;
    font-size: 17px;
    line-height: 22px;
    color: rgba(37, 44, 50, 0.6);
}
.formcontent .col-form, .formcontent .col-descr, footer{
    padding-top: 80px;
}
.col-form{
    padding-left: 45px;
    padding-right: 45px;
}
.col-form .btn, nav .nav-link.pro-b{
    height: 48px !important;
}
form{
    font-family: 'PTRoot';
}
.formcontent .content{
    max-width: 670px;
}
.formcontent .col-descr .content{
    padding-top: 32px;
}
.formcontent label{
    font-weight: 500;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.5px;
}
.form_title{
    font-weight: 300;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.5px;
}
.formcontent .col-form{
    padding-bottom: 55px;
}
footer{
    background: #FBFBFB;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 70px;
}
footer a{
    text-decoration: none;
    color: #252C32 !important;
}
footer a:hover{
    text-decoration: none;
}
footer p{
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
}
footer h6{
    font-size: 15px;
    line-height: 20px;
    color: rgba(37, 44, 50, 0.6);
}
footer small{
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: rgba(37, 44, 50, 0.4);
    margin-top:40px;
}
footer .no-h{
    margin-top: 40px;
   
}
footer .first-d{
    max-width: 270px;
}
.tel{
    cursor: default;
}

/* switch */
.toggle-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
.toggle-content .switch {
    position: relative;
    display: inline-block;
    width: 59px;
    height: 24px;
  }
  .cover{
    background-color: rgba(255, 255, 255) !important;
    position: absolute;
    top: 0;
    height: 7rem;
    margin-top: 43.5rem;
    width: 30rem;
    z-index: 2;  
  }
  .covered{
    position: relative;
  }
  /* Hide default HTML checkbox */
  .toggle-content .switch input {display:none;}
  
  /* The slider */
  .toggle-content .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 2px 10px 0 rgba(37, 44, 50, 0.1);
    background-color: rgba(255, 255, 255, 0);
    transition: .4s;
  }
  
  .toggle-content .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 8px;
    bottom: 4px;
    background-color: #EEC643;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .tog-l{
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.5px;
  }
  .tog-l-2{
      color:#EEC643;
  }
  .toggle-content input.default:checked + .slider {
    box-shadow: 0 2px 10px 0 rgba(37, 44, 50, 0.1);
    background-color: rgba(255, 255, 255, 0);
    }
  .toggle-content input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .toggle-content input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .toggle-content .slider.round {
    border-radius: 12px;
  }
  
  .toggle-content .slider.round:before {
    border-radius: 50%;
  }