@media only screen and (max-width: 545px){
    .benefitscontent p{
        text-align: left !important;
    }
}
@media only screen and (max-width: 997px){
    .col_img .img{
        padding-top:15px !important;
        margin:0 auto !important;
    }
}
@media only screen and (max-width:819px){
    footer .no-h{
        margin-top: 0px !important;
    }
}
@media only screen and (max-width:1111px){
    .videocontent .content_d{
        padding-left:15px !important;
    }
    .benefitscontent, .trustcontent{
        margin-top:40px !important;
    }
}
@media only screen and (max-width:1262px){
    .text_h1_b{
        float: right;
        font-size: 45px !important;
    }
}
@media only screen and (max-width:1109px){
    .text_h1_b{
        float: right;
        font-size: 35px !important;
        line-height: 40px !important;
    }
}
@media only screen and (max-width:1050px){
    .text_h1_b{
        float: right;
        font-size: 25px !important;
        line-height: 30px !important;
    }
}
@media only screen and (max-width:900px){
    .text_h1_b{
        float: right;
        font-size: 18px !important;
        line-height: 23px !important;
    }
}
@media only screen and (max-width:821px){
    .text_h1_b{
        display: none;
    }
    .begincontent p{
        display: none;
    }
}
@media only screen and (max-width:578){
   nav .navbar-toggler{
       order:2 !important;
   }
   nav .or{
       order:1 !important;
       -webkit-box-ordinal-group:2 !important;
   }
}

body{
    color: #252C32;
    font-family:'PT Sans', sans-serif;

}

nav{
    min-height: 112px;
    font-weight: bold;
    font-size: 16px;
    font-weight: bold;
    color: #252C32 !important;
    background-color: white;
    letter-spacing: 0.5px !important;
}

.nav-link{
    color: #252C32 !important;
    padding: 10px;
}
nav .prices{
    padding-right: 25px !important;
}
nav .btn, .videocontent .btn, .tariffscontent .btn, .formcontent .btn{
    background-color: #EEC643;
    border-radius: 8px;
    color: white !important;
    font-weight: bold !important;
    
}
.videocontent{
    margin-right: 0;
}
.videocontent span{
    background-color: #EEC643 !important;
}
.navbar-brand img, footer img{
    max-width: 117px;
}
.navbar-brand{
    margin-left: 25px;
}
nav .pro-b{
    margin-right: 20px !important;
}
.videocontent { padding-top: 160px; }
.videocontent a {
    text-align: center;
    box-sizing: content-box;
}
.videocontent_p{
    font-size: 22px;
    line-height: 28px;
}

.videocontent title{
    font-size: 22px;
    line-height: 25px;
}
.videocontent{
    margin-top:10px;
}
.videocontent .embed-responsive{
    position: static !important;
}
.tariffscontent{
    margin-top: 75px;
}
.benefitscontent{
    margin-top:150px;
}
.imagecontent{
    margin-top:55px;
}
.bonusescontent{
    margin-top:75px !important;
}
.benefitscontent .content_p{
    max-width: 570px;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
}
.benefitscontent h4{
    font-weight: 500;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
}
.imagecontent p{
    font-size: 22px;
    line-height: 28px;
}
.content_p{
    text-align: center;
    margin:0 auto;
}
.content_d{
    margin:0 auto;
    max-width: 570px;
}
.imagecontent_r{
    margin-top:70px;
}

.imagecontent ul { 
    padding-left: 20px;
    list-style-type: none;
    list-style-image: url('/icon_check.svg');
    margin-top: 25px;
}
.imagecontent ul li{
    padding-top: 15px;      
}
.imagecontent .text-wrap{
    margin-top:20px;
}
.videocontent .content_d p{
    font-size: 20px;
}
.videocontent .content_d a{
    font-size: 16px;
}
.videocontent .content_d{
    padding-left: 90px;
}
iframe{
    border-radius: 8px;
}
.wrapper{
    border-radius: 8px !important;
    position: relative;
    overflow: hidden;
}
.text_h1{
    font-weight: 300;
    font-size: 80px;
    line-height: 80px;
    color: #252C32;
}
.tariffscontent ul{
    list-style-type: none;
    list-style-image: url('/check.svg');
}
.tariffscontent ul li{
    padding-bottom: 15px;
}
.fa-tenge{
    font-size: 23px;
}
.economy_p .fa-tenge{
    font-size: 13px;
}
.tariffscontent .light li:nth-last-child(-n+2) {list-style-image: url('/cross.svg');color: rgba(37, 44, 50, 0.2);}
.tariffscontent .standart li:last-child {list-style-image: url('/cross.svg');color: rgba(37, 44, 50, 0.2);}

.card-text{
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 41px;
    letter-spacing: 0.735294px;
}
small{
    font-size: 17px;
    line-height: 22px;
}
.card-title{
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    text-transform: uppercase;
}
.economy_p{
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #3EC25F;
}
.footer{
    font-size: 14px;
    line-height: 18px;
}
.card{
    border: 1px solid rgba(37, 44, 50, 0.1);
    border-radius: 8px;
    transition-duration: 0.4s;
}
.card:hover{
    background: rgba(255, 255, 255, 0.0001);
    box-shadow: 0px 2px 10px rgba(37, 44, 50, 0.1);
    background-color: #eaeaeb;
    background-image: url('/box-header.svg');
    background-repeat: no-repeat;
}
.bonus_h{
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
}
.bonus_p{
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: rgba(37, 44, 50, 0.6);
}
.bonus_p2{
    font-size: 34px;
    line-height: 41px;
}
.trustcontent{
    text-align: center;
    margin-top:115px;
}
.col_img{
    padding: 0px;
    width:170px;
    flex-wrap: wrap;
}
.begincontent{
    margin-top: 75px;
    width: 100%;
    background-repeat: no-repeat;
}
.begincontent .row{
    background-image: url('/phoneback.svg');
    height: 570px;
}
.text_h1_b{
    font-size: 60px;
    line-height: 64px;
}
.begincontent p{
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}
.begincontent .content{
    color: #FFFFFF;
    float: right;
    margin-top:115px;
    padding-right: 60px;
}
.container-fluid{
    overflow: hidden;
}
.formcontent .col-form{
    background: #eeeeef;
box-shadow: -10px 0px 20px rgba(37, 44, 50, 0.05);

}
.formcontent ul{
    padding-left: 20px;
    list-style-type: none;
    list-style-image: url('/icon_check.svg');
}
.ul_title{
    font-weight: 300;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.5px;
}
.li_title{
    margin-top:30px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
}
.li_content{
    padding-top:10px;
    font-size: 17px;
    line-height: 22px;
    color: rgba(37, 44, 50, 0.6);
}
.formcontent .col-form, .formcontent .col-descr, footer{
    padding-top: 80px;
}
.col-form{
    padding-left: 45px;
    padding-right: 45px;
}
.col-form .btn, nav .nav-link.pro-b{
    height: 48px !important;
}
.formcontent .content{
    max-width: 670px;
}
.formcontent label{
    font-weight: 500;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.5px;
}
.form_title{
    font-weight: 300;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.5px;
}
.formcontent .col-form{
    padding-bottom: 100px;
}
footer{
    background: #FBFBFB;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 70px;
}
footer a{
    text-decoration: none;
    color: #252C32 !important;
}
footer a:hover{
    text-decoration: none;
}
footer p{
    font-size: 15px;
    line-height: 20px;
}
footer h6{
    font-size: 15px;
    line-height: 20px;
    color: rgba(37, 44, 50, 0.6);
}
footer small{
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: rgba(37, 44, 50, 0.4);
    margin-top:40px;
}
footer .no-h{
    margin-top: 40px;
   
}
footer .first-d{
    max-width: 270px;
}
.tel{
    cursor: default;
}

/* switch */
.toggle-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
.toggle-content .switch {
    position: relative;
    display: inline-block;
    width: 59px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .toggle-content .switch input {display:none;}
  
  /* The slider */
  .toggle-content .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eeeeef;
    box-shadow: 0px 2px 10px rgba(37, 44, 50, 0.1);    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .toggle-content .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 8px;
    bottom: 4px;
    background-color: #EEC643;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .tog-l{
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.5px;
  }
  .tog-l-2{
      color:#EEC643;
  }
  .toggle-content input.default:checked + .slider {
    background-color: #ccc;
  }
  .toggle-content input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .toggle-content input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .toggle-content .slider.round {
    border-radius: 12px;
  }
  
  .toggle-content .slider.round:before {
    border-radius: 50%;
  }